
body {
    background-color: cadetblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #1071d2;
}

h2 {
    color: #34495e;
}

p {
    font-size: 16px;
}

ol {
    background-color: rgb(226, 219, 219);
    padding: 15px;
    border-radius: 5px;
}
header, section, footer{
    background: white;
    margin:20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 6px;
}
header{
    text-align: center;
}
section h2{
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}